<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand text-center" href="{% url 'home' %}"><span style="font-style: italic; font-size: 16px;">SMAAG</span> </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a class="nav-link" href="{% url 'upcoming_events' %}">Events</a>
        </li>
        {% if user.is_authenticated and user.role == 'organizer' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'organizer_overview' %}">Overview</a>
        </li>
        {%endif%}
        <li class="nav-item">
          <a class="nav-link" href="">Gallery</a>
        </li>
      </ul>
      <div class="ms-auto d-flex gap-3 align-items-center">
      
        {% if user.is_authenticated%}
        <div class="dropdown text-end">
          <a
            href="#"
            class="d-flex justify-content-center align-items-center gap-1 link-dark text-decoration-none dropdown-toggle"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="user-circle">{{ user.username|slice:":1"|upper }}</div>
            <small class="username-text">{{ user.username }}</small>
             <ul class="dropdown-menu text-small" aria-labelledby="userDropdown">
              <li class="nav-item">
          <a class="nav-link" href="">My Events</a>
        </li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
          </a>
          
        </div>

        {%else%}
         {% if request.session.attendee_name %}
          <div class="dropdown text-end">
          <a
            href="#"
            class="d-flex justify-content-center align-items-center gap-1 link-dark text-decoration-none dropdown-toggle"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="user-circle">{{ user.username|slice:":1"|upper }}</div>
            <small class="username-text">{{ request.session.attendee_name }}</small>
             <ul class="dropdown-menu text-small" aria-labelledby="userDropdown">
              <li class="nav-item">
          <a class="nav-link" href="">My Events</a>
        </li>
            <li>
              <a class="dropdown-item" href="{% url 'attendee_logout' %}">Logout</a>
            </li>
          </ul>
          </a>
          
        </div>
        {% else %}
        <div class="d-flex">
          <a href="{% url 'login' %}" class="nav-link button">Sign In / Sign Up</a>
          
        </div>
        {% endif %}
        {%endif%}
        <form class="d-flex" role="search" method="get" action="{% url 'search' %}">
  <input class="form-control me-2" name="query" value="{{ request.GET.query }}" type="search" placeholder="Search events..." aria-label="Search" autofocus />
  <button class="btn btn-success" type="submit">Search</button>
</form>
      </div>
    </div>
  </div>
</nav>