{% extends "base.html" %}
{% block title %}Event Analytics | EMS {% endblock title %}
{% block content %}
<div class="container">
    <div class="card p-4 mb-4 bg-success text-white">
        <h4>Event Analytics</h4>
        <p>Detailed insights and performance metrics</p>
    </div>

    <div class="row g-3 mb-4">
        <div class="col-md-3">
            <div class="card border rounded-3 p-4 mb-3 shadow-sm">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h6 class="h6 text-muted mb-0">Total Views</h6>
                    <!-- Bootstrap + icon -->
                    <i class="bi bi-calender-lg text-muted fs-5"></i>
                </div>

                <div>
                    <p class="h2 fw-bold text-success mb-1">
                        
                    </p>
                    <p class="text-muted small mb-0">Event page views</p>
                    
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="card border rounded-3 p-4 mb-3 shadow-sm">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h6 class="h6 text-muted mb-0">Registrations</h6>
                    <!-- Bootstrap + icon -->
                    <i class="bi bi-calender-lg text-muted fs-5"></i>
                </div>

                <div>
                    <p class="h2 fw-bold text-success mb-1">
                        
                    </p>
                    <p class="text-muted small mb-0">Total attendees</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border rounded-3 p-4 mb-3 shadow-sm">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h6 class="h6 text-muted mb-0">Conversion Rate</h6>
                    <!-- Bootstrap + icon -->
                    <i class="bi bi-calender-lg text-muted fs-5"></i>
                </div>

                <div>
                    <p class="h2 fw-bold text-success mb-1">
                        
                    </p>
                    <p class="text-muted small mb-0">Views to registrations</p>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-3 text-center">
                <h6>Upcoming</h6>
                <h3>{{ upcoming_events }}</h3>
                <small>Events this month</small>
            </div>
        </div>
    </div>

    <!-- Quick action -->
    <div class="row g-3">
        <div class="col-md-6">
            <div class="card shadow-sm rounded-3 ">
                <div>
                    <h6>Attendee Details</h6>
                    <p class="text-nuted">View all the registered pleople</p>
                </div>

                
            </div>
        </div>
    </div>
</div>

{% endblock content %}